name: Build
permissions: write-all
env:
  repository: ${{ github.repository }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  org_input: ${{ inputs.org }}
  org_event_input: ${{ github.event.inputs.org }}
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      org:
        description: 'Which ReBuild?'
        required: true
        default: 'ReBuild'
        type: choice
        options:
          - 'ReBuild'
  workflow_call:
    inputs:
      org:
        required: true
        type: string
jobs:
  ReBuild-Youtube:
    name: ReBuild (YouTube)
    if: ${{ github.ref == 'refs/heads/main' || github.event.inputs.org == 'ReBuild' || inputs.org == 'ReBuild' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Preparing to patch
        uses: ./.github/actions/preparing
      - name: Check github connection
        id: check-gh-rv-youtube
        run: bash src/etc/connection.sh
      - name: ReBuild YouTube APK
        id: rebuild-youtube
        if: steps.check-gh-rv-youtube.outputs.internet_error == '0'
        run: bash src/build/builds.sh Youtube
      - name: Upload artifacts
        if: steps.check-gh-rv-youtube.outputs.internet_error == '0'
        uses: actions/upload-artifact@v4
        with:
          name: Youtube
          path: ./release/*.apk

  ReBuild-Music:
    name: ReBuild (YouTube Music)
    if: ${{ github.ref == 'refs/heads/main' || github.event.inputs.org == 'ReBuild' || inputs.org == 'ReBuild' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Preparing to patch
        uses: ./.github/actions/preparing
      - name: Check github connection
        id: check-gh-rv-music
        run: bash src/etc/connection.sh
      - name: ReBuild YouTube Music APK
        id: rebuild-music
        if: steps.check-gh-rv-music.outputs.internet_error == '0'
        run: bash src/build/builds.sh Music
      - name: Upload artifacts
        if: steps.check-gh-rv-music.outputs.internet_error == '0'
        uses: actions/upload-artifact@v4
        with:
          name: Music
          path: ./release/*.apk

  ReBuild-Photos:
    name: ReBuild (Google Photos)
    if: ${{ github.ref == 'refs/heads/main' || github.event.inputs.org == 'ReBuild' || inputs.org == 'ReBuild' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Preparing to patch
        uses: ./.github/actions/preparing
      - name: Check github connection
        id: check-gh-rv-photos
        run: bash src/etc/connection.sh
      - name: ReBuild Google Photos APK
        id: rebuild-photos
        if: steps.check-gh-rv-photos.outputs.internet_error == '0'
        run: bash src/build/builds.sh Photos
      - name: Upload artifacts
        if: steps.check-gh-rv-photos.outputs.internet_error == '0'
        uses: actions/upload-artifact@v4
        with:
          name: Photos
          path: ./release/*.apk

  ReBuild-GoogleNews:
    name: ReBuild (Google News)
    if: ${{ github.ref == 'refs/heads/main' || github.event.inputs.org == 'ReBuild' || inputs.org == 'ReBuild' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Preparing to patch
        uses: ./.github/actions/preparing
      - name: Check github connection
        id: check-gh-rv-news
        run: bash src/etc/connection.sh
      - name: ReBuild Google News APK
        id: rebuild-news
        if: steps.check-gh-rv-news.outputs.internet_error == '0'
        run: bash src/build/builds.sh GoogleNews
      - name: Upload artifacts
        if: steps.check-gh-rv-news.outputs.internet_error == '0'
        uses: actions/upload-artifact@v4
        with:
          name: GoogleNews
          path: ./release/*.apk

  ReBuild-Photomath:
    name: ReBuild (Photomath)
    if: ${{ github.ref == 'refs/heads/main' || github.event.inputs.org == 'ReBuild' || inputs.org == 'ReBuild' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Preparing to patch
        uses: ./.github/actions/preparing
      - name: Check github connection
        id: check-gh-rv-ph
        run: bash src/etc/connection.sh
      - name: ReBuild Photomath APK
        id: rebuild-photomath
        if: steps.check-gh-rv-ph.outputs.internet_error == '0'
        run: bash src/build/builds.sh Photomath
      - name: Upload artifacts
        if: steps.check-gh-rv-ph.outputs.internet_error == '0'
        uses: actions/upload-artifact@v4
        with:
          name: Photomath
          path: ./release/*.apk

  ReBuild-Facebook:
    name: ReBuild (Facebook)
    if: ${{ github.ref == 'refs/heads/main' || github.event.inputs.org == 'ReBuild' || inputs.org == 'ReBuild' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Preparing to patch
        uses: ./.github/actions/preparing
      - name: Check github connection
        id: check-gh-rv-fb
        run: bash src/etc/connection.sh
      - name: ReBuild Facebook APK
        id: rebuild-facebook
        if: steps.check-gh-rv-fb.outputs.internet_error == '0'
        run: bash src/build/builds.sh Facebook
      - name: Upload artifacts
        if: steps.check-gh-rv-fb.outputs.internet_error == '0'
        uses: actions/upload-artifact@v4
        with:
          name: Facebook
          path: ./release/*.apk

  ReBuild-Messenger:
    name: ReBuild (Messenger)
    if: ${{ github.ref == 'refs/heads/main' || github.event.inputs.org == 'ReBuild' || inputs.org == 'ReBuild' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Preparing to patch
        uses: ./.github/actions/preparing
      - name: Check github connection
        id: check-gh-rv-msgr
        run: bash src/etc/connection.sh
      - name: ReBuild Messenger APK
        id: rebuild-messenger
        if: steps.check-gh-rv-msgr.outputs.internet_error == '0'
        run: bash src/build/builds.sh Messenger
      - name: Upload artifacts
        if: steps.check-gh-rv-msgr.outputs.internet_error == '0'
        uses: actions/upload-artifact@v4
        with:
          name: Messenger
          path: ./release/*.apk

  ReBuild-TikTok:
    name: ReBuild (TikTok)
    if: ${{ github.ref == 'refs/heads/main' || github.event.inputs.org == 'ReBuild' || inputs.org == 'ReBuild' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Preparing to patch
        uses: ./.github/actions/preparing
      - name: Check github connection
        id: check-gh-rv-tiktok
        run: bash src/etc/connection.sh
      - name: ReBuild TikTok APK
        id: rebuild-tiktok
        if: steps.check-gh-rv-tiktok.outputs.internet_error == '0'
        run: bash src/build/builds.sh TikTok
      - name: Upload artifacts
        if: steps.check-gh-rv-tiktok.outputs.internet_error == '0'
        uses: actions/upload-artifact@v4
        with:
          name: TikTok
          path: ./release/*.apk

  ReBuild-Reddit:
    name: ReBuild (Reddit)
    if: ${{ github.ref == 'refs/heads/main' || github.event.inputs.org == 'ReBuild' || inputs.org == 'ReBuild' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Preparing to patch
        uses: ./.github/actions/preparing
      - name: Check github connection
        id: check-gh-rv-reddit
        run: bash src/etc/connection.sh
      - name: ReBuild Reddit APK
        id: rebuild-reddit
        if: steps.check-gh-rv-reddit.outputs.internet_error == '0'
        run: bash src/build/builds.sh Reddit
      - name: Upload artifacts
        if: steps.check-gh-rv-reddit.outputs.internet_error == '0'
        uses: actions/upload-artifact@v4
        with:
          name: Reddit
          path: ./release/*.apk

  ReBuild-Instagram:
    name: ReBuild (Instagram)
    if: ${{ github.ref == 'refs/heads/main' || github.event.inputs.org == 'ReBuild' || inputs.org == 'ReBuild' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Preparing to patch
        uses: ./.github/actions/preparing
      - name: Check github connection
        id: check-gh-rv-ig
        run: bash src/etc/connection.sh
      - name: ReBuild Instagram APK
        id: rebuild-instagram
        if: steps.check-gh-rv-ig.outputs.internet_error == '0'
        run: bash src/build/builds.sh Instagram
      - name: Upload artifacts
        if: steps.check-gh-rv-ig.outputs.internet_error == '0'
        uses: actions/upload-artifact@v4
        with:
          name: Instagram
          path: ./release/*.apk

  release:
    name: Create Release
    needs: [ReBuild-Youtube, ReBuild-Music, ReBuild-Photos, ReBuild-GoogleNews, ReBuild-Photomath, ReBuild-Facebook, ReBuild-Messenger, ReBuild-TikTok, ReBuild-Reddit, ReBuild-Instagram]
    runs-on: ubuntu-latest
    if: always() && contains(needs.*.result, 'success')
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./release/
          merge-multiple: true
      - name: Release APKs
        uses: ./.github/actions/release
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
